
{% extends 'Template.php.twig' %}

{% block title %}Larrygbc.es/index{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-12">
			<div class="d-flex align-items-center">
				<div class="ml-3 mr-3">
					<button type="button" style="background-color: #cb4335d1;" class="btn btn-warning bmd-btn-fab">
						<i style="font-size: 45px" class="material-icons">chevron_left</i>			
					</button>
				</div>
				<table class="table table-bordered mt-5 mb-5">
					<thead>
						<tr>
							<th colspan="7" class="text-center" id="year">{{ year }}</th>
						</tr>
						<tr>
							<th colspan="7" class="text-center">{{ month[0] }}<span class="d-none" id="month">{{ month[1] }}</span></th>
						</tr>
						<tr>
							<th scope="col" class="text-center">L</th>
							<th scope="col" class="text-center">M</th>
							<th scope="col" class="text-center">X</th>
							<th scope="col" class="text-center">J</th>
							<th scope="col" class="text-center">V</th>
							<th scope="col" class="text-center">S</th>
							<th scope="col" class="text-center">D</th>
						</tr>
					</thead>
					<tbody class="tbody">
						<tr>
							{% for item in 1..42 %}
							{% if item == diaSemana %}
							{% set day = 1 %}
							{% endif %}
							{% if item < diaSemana or item >= last_cell %}
							<td></td>
							{% else %}
							{% if day == diaActual %}
							<td class="bg-danger text-white text-center days"> {{ day }}</td>
							{% else %}
							<td class="text-center days">{{ day }}</td>
							{% endif %}
							{% set day = day + 1 %}  
							{% endif %}
							{% if item%7 == 0 %}
							<tr></tr>
							{% endif %}
							{% endfor %}
						</tr>
					</tbody>
				</table>
				<div class="mr-3 ml-3">
					<button type="button" style="background-color: #cb4335d1;" class="btn btn-warning bmd-btn-fab">
						<i style="font-size: 45px" class="material-icons">chevron_right</i>
					</button>
				</div>
			</div>


			<p>Google Calendar API Quickstart</p>

			<!--Add buttons to initiate auth sequence and sign out-->
			<button id="authorize_button" style="display: none;">Authorize</button>
			<button id="signout_button" style="display: none;">Sign Out</button>

			<pre id="content" style="white-space: pre-wrap;"></pre>

		</div>
	</div>

	<script type="text/javascript">
		$(document).ready(function($) {
			// eliminos el primer tr vacio
			$('.tbody').children('tr:first').remove();

			//click en la fecha elegida
			$('.days').click(function(event) {
				console.log('day --> ' + $(this).text());
				console.log('mes --> ' + $('#month').text() );
				console.log('año --> ' + $('#year').text() );
			});
		});
	</script>

	<script type="text/javascript">
		// Client secret --> GCGMSbhhKWaGhilInysQvMKf
	    // Client ID and API key from the Developer Console
	    var CLIENT_ID = '801903894286-2njgmv0ir3aoe4ttllb8buun2mfg1o62.apps.googleusercontent.com';
	    var API_KEY = 'AIzaSyC7mhOkgrkwwMAeu14o7jvmiJQfaO03tWU';


	    // Array of API discovery doc URLs for APIs used by the quickstart
	    var DISCOVERY_DOCS = ["https://www.googleapis.com/discovery/v1/apis/calendar/v3/rest"];

	    // Authorization scopes required by the API; multiple scopes can be
	    // included, separated by spaces.
	    var SCOPES = "https://www.googleapis.com/auth/calendar";


	    var authorizeButton = document.getElementById('authorize_button');
    	var signoutButton = document.getElementById('signout_button');

		/**
		*  On load, called to load the auth2 library and API client library.
		*/
		function handleClientLoad() {
			gapi.load('client:auth2', initClient);
		}

		/**
		*  Initializes the API client library and sets up sign-in state
		*  listeners.
		*/
		function initClient() {
			gapi.client.init({
				apiKey: API_KEY,
				clientId: CLIENT_ID,
				discoveryDocs: DISCOVERY_DOCS,
				scope: SCOPES
			}).then(function () {
		        // Listen for sign-in state changes.
		        gapi.auth2.getAuthInstance().isSignedIn.listen(updateSigninStatus);

		        // Handle the initial sign-in state.
		        updateSigninStatus(gapi.auth2.getAuthInstance().isSignedIn.get());
		      	authorizeButton.onclick = handleAuthClick;
          		signoutButton.onclick = handleSignoutClick;
		    }, function(error) {
		      	appendPre(JSON.stringify(error, null, 2));
		    });
		}

		/**
		*  Called when the signed in status changes, to update the UI
		*  appropriately. After a sign-in, the API is called.
		*/
		function updateSigninStatus(isSignedIn) {
			if (isSignedIn) {
          		authorizeButton.style.display = 'none';
          		signoutButton.style.display = 'block';
          		listUpcomingEvents();
        	} else {
          		authorizeButton.style.display = 'block';
          		signoutButton.style.display = 'none';
        	}
		}

		/**
       	*  Sign in the user upon button click.
       	*/
      	function handleAuthClick(event) {
        	gapi.auth2.getAuthInstance().signIn();
      	}

      	/**
       	*  Sign out the user upon button click.
       	*/
      	function handleSignoutClick(event) {
        	gapi.auth2.getAuthInstance().signOut();
      	}

		/**
		* Append a pre element to the body containing the given message
		* as its text node. Used to display the results of the API call.
		*
		* @param {string} message Text to be placed in pre element.
		*/
		function appendPre(message) {
			var pre = document.getElementById('content');
			var textContent = document.createTextNode(message + '\n');
			pre.appendChild(textContent);
		}

		/**
		* Print the summary and start datetime/date of the next ten events in
		* the authorized user's calendar. If no events are found an
		* appropriate message is printed.
		*/
		function listUpcomingEvents() {
			var event = {
				'summary': 'Google I/O 2015',
				'location': '800 Howard St., San Francisco, CA 94103',
				'description': 'A chance to hear more about Google\'s developer products.',
				'start': {
					'dateTime': '2019-10-13T14:00:00-07:00',
					'timeZone': 'America/Los_Angeles'
					},
				'end': {
					'dateTime': '2019-10-13T14:15:00-07:00',
					'timeZone': 'America/Los_Angeles'
				},
				'recurrence': [
					'RRULE:FREQ=DAILY;COUNT=2'
				],
				'attendees': [
					{'email': 'lpage@example.com'},
					{'email': 'sbrin@example.com'}
				],
				'reminders': {
				    'useDefault': false,
				    'overrides': [
				      	{'method': 'email', 'minutes': 24 * 60},
				     	{'method': 'popup', 'minutes': 10}
					]
				}
			};

			var request = gapi.client.calendar.events.insert({
				'calendarId': 'primary',
				'resource': event
			});

			request.execute(function(event) {
				appendPre('Event created: ' + event.htmlLink);
			});

		}

	</script>

	<script async defer src="https://apis.google.com/js/api.js" onload="this.onload=function(){};handleClientLoad()" onreadystatechange="if this.readyState === 'complete') this.onload()"></script>




{% endblock %}