@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import '~material-design-icons/iconfont/material-icons';
@import '~bootstrap-material-design/scss/bootstrap-material-design';


//variables 
$clr-red: #CB4335;

//tags
body{
	height: 100vh;
}

footer{
	height: auto;
	background: $clr-red;

	p{
		font-size: 13px;
	    display: flex;
	    justify-content: center;
	    margin-bottom: 0px;
	    padding: 0px 0px 5px;
	    color: white;
	}

	.icon-social{
		padding: 5px 8px;
		font-size: 25px;
	}
}

//class
.logo{
	font-family: Nunito;
    font-size: 30px;
    letter-spacing: 1px;
    color: white;

    a{
    	color: white;
    	text-decoration: none;
    }
}

.bg-main{
	background: $clr-red;
}

.btn-menu{
	display: flex;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    justify-content: center;

    &:hover{
    	background: #61616142;
    }
}

.contenedor-cookie{
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
    bottom: 300px;
    z-index: 10;
    
    div{
    	background: black;
	    border-radius: 50%;
	    width: 350px;
	    height: 350px;
	    float: right;
	    display: flex;
	    justify-content: center;
	    flex-direction: column;
	    align-items: center;
	    position: absolute;
	    right: -50px;

	    i{
	    	font-size: 40px;
		    color: #a7753f;
		    margin-top: -45px;
		    margin-bottom: 15px;
	    }

	    p{
    		color: white;
    		text-align: justify;
    		padding: 0px 50px;
    		margin-right: 40px;
	    }

	    button{
	    	background: #0e6fc1;
		    color: white;
		    border: none;
		    font-size: 14px;
		    cursor: pointer;
		    width: 75px;
		    height: 30px;
	    }
    }
}

//modify class
.navbar-light .navbar-toggler {
    color: rgba(255, 255, 255, 0.79) !important;
    border-color: transparent !important; 
}
