<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>{% block title  %} Larrygbc.es {% endblock %}</title>
	
	{% block stylesheets %}    
	{{ encore_entry_link_tags('app') }}
	{% endblock %}

	{% block javascripts %}
	{{ encore_entry_script_tags('app') }}
	{{ encore_entry_script_tags('cookies') }}
	{{ encore_entry_script_tags('Css') }}
	{% endblock %}
	
</head>

<body>

	<div class="bmd-layout-container bmd-drawer-f-l bmd-drawer-overlay">
		<header class="bmd-layout-header">
			<div class="navbar navbar-light bg-faded bg-main">
				<button class="navbar-toggler btn-menu" type="button" data-toggle="drawer" data-target="#dw-s2">
					<span class="sr-only">Toggle drawer</span>
					<i class="material-icons">menu</i>
				</button>
				<span class="logo"><a href="/">Larrygbc</a></span>
				<ul class="nav navbar-nav">
					<li class="nav-item"></li>
				</ul>
			</div>
		</header>
		<div id="dw-s2" class="bmd-layout-drawer bg-faded">
			<header>
				<a class="navbar-brand">Menu</a>
			</header>
			<ul class="list-group">
				<a href="/folder-css" class="list-group-item">Calendario</a>
				<a class="list-group-item">Link 2</a>
				<a class="list-group-item">Link 3</a>
			</ul>
		</div>
		<main class="bmd-layout-content">
			<div class="container">
				{% block body %}

				{% endblock %}
			</div>
			<footer>
				<div class="d-flex justify-content-center text-white">
					<div class="icon-social">
						<i class="fab fa-instagram"></i>
					</div>
					<div class="icon-social">
						<i class="fab fa-twitter"></i>
					</div>
				</div>
				<div>
					<p>Sitio web creado por @larrygbc</p>
				</div>
			</footer>
		</main>
	</div>
	<div class="contenedor-cookie" id="contenedor-cookie">
		<div>
			<i class="fas fa-cookie"></i>
			<p>Si continúas navegando por esta web, entendemos que aceptas <a href="/politica-de-cookies">las cookies que usamos</a> para mejorar nuestros servicios.</p>
			<button id="btn-cookie">Aceptar</button>
		</div>
	</div>

</body>



<script>
	$(document).ready(function() { 
		$('body').bootstrapMaterialDesign(); 
	});
</script>

</html>